SUPABASE_PROJECT_ID="seu-id-aqui"
SUPABASE_PUBLISHABLE_KEY="sua-key-aqui"
SUPABASE_URL="https://example.supabase.co"
VITE_SUPABASE_PROJECT_ID="seu-id-aqui"
VITE_SUPABASE_PUBLISHABLE_KEY="sua-key-aqui"
VITE_SUPABASE_URL="https://example.supabase.co"
